// --------------------------------------------------
// VARIABLES 
// --------------------------------------------------
$text: '.rx-text';


// --------------------------------------------------
// PLACEHOLDERS 
// --------------------------------------------------
// Write shared styles in placeholder rules here, then extend them from specific selectors below.


// --------------------------------------------------
// SELECTORS 
// --------------------------------------------------
#{$text}--title {
    font-size: rem( 72 );
    font-weight: 700;
    line-height: 1;

    margin-bottom: rem( 20 );
}

